.dd-container .dd-options {
    padding: 0;
    margin: 0;
}
.dd-container .dd-selected .dd-selected-image,
.dd-container .dd-options .dd-option-image {
    max-width: 16px;
}
.dd-selected .dd-selected-text {
    line-height: 19px !important;
}

/* Fix display for comment section */
.comment-form .dd-container {
    float: left;
    position: static;
}